*{
    margin:0px ; padding:0px ;
box-sizing: border-box;
}
html{
    font-size: 16px;
    color: #333;
    background-color: #fff;
    font-family: "lato";
}
header{
    height: 100vh;
    background-image : linear-gradient(rgba(0,0,0,.7),rgba(0,0,5,.7)), url(../images/hero.jpg);
    background-size : cover;
    background-position : center;
}
.logo{
    float: left;
    height: 100px;
    margin-top: 20px;
}
.main-nav{
    float: right;
list-style: none; margin-top: 50px;

}
.main-nav li{
    margin-right: 20px;
display: inline-block;
}
.main-nav li a{
   color: #fff;
   text-decoration: none;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 2px;
}
.main-nav li a:hover{
  color: orange;
text-decoration: underline ;
}
.hero-box{
    position: absolute;
    top: 40%;
}
h1{
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
font-weight: bold;
letter-spacing: 2px;
word-spacing: 5px;
line-height: 150%;
margin-bottom: 30px;
}
.btn  {
    border: solid orange 1px ;
    margin-right: 15px;
    color: orange;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;

}
.btn :hover{
    background-color: orange;
    color: white;

}
.section{
   padding: 40px 0px;


}
h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.6rem;
    text-transform: uppercase;

letter-spacing: 5px;
word-spacing: 5px;


}
h2::after{
 content: "";
 display: block;
width: 100px;
 height: 5px;
background-color:orange;
margin: 20px auto;
}
.featured-deck{
    width: 70%;
    margin: 10px auto;
}
.box  {

    margin-bottom: 10px;
    text-align: center;
}
.box i {
    color: orange;
margin-left: 50px;
    margin-bottom: 10px;
}
.box h3 {
    margin-bottom: 10px;
}
.box p {
    line-height: 150%;
}
.meals{
    padding: 0;
    background-color: black;
    overflow: hidden;
}
.meals img{
    width: 100%;
    opacity: .6;
    transition: 1s;
    transform: scale(1.1);

}
.meals img:hover{
    opacity: 1;
    transform: scale(1);
}
.works{
    background-color: #eee;
}
.left-work{
    text-align: right;
    padding-right: 3%;
    
}
.app-iphone{
    width: 40%;

}

.right-work{
    text-align: left;
    padding-left: 3%;
    padding-top: 70px;
}
.step{
    margin-bottom: 20px;
    display: flex;
}
.step div{
margin-right: 20px;
display: inline-block;
width: 50px;
height: 50px;
border: solid 2px orange;
padding: 13px;
border-radius: 50%;
text-align: center;
color: orange;
font-weight:bold ;
}
.brands {
    margin-top: 50px;
}
.brands a{
    margin-right: 15px;
}
.brands img{
    height: 50px;
}
.city img{
    width: 100%;
    margin-bottom: 10px;
}
.city h6{
text-align: center;
margin-bottom: 10px;
}
.city-info{
display: flex;
margin-bottom: 10px;
}
.city-info i{
color: orange;
margin-right: 20px;
}
#testimomials{
    color: white;
    background-image : linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(../images/back-customers.jpg);
    background-size : cover;
    background-position : center;
    background-attachment: fixed
}

#testimomials i{
color:white ;
font-size: 50px;
margin-bottom: 20px;
margin-left: -50px;
transform: rotate(180deg);
}

#testimomials p{
    margin-bottom: 20px;
    line-height: 150%;
}
#testimomials img{
height: 50px;
border-radius: 50%;
margin-right: 15px;
vertical-align: middle;
}
.contact-form{
    font-size: 18px;
color: orange;
margin-bottom: 15px;
font-weight: bold;
}
input[type=text] ,input[type=email] ,select ,textarea {
    width: 100%;
padding: 7px;
border: solid#ccc 2px;
border-radius: 5px;
margin-bottom: 10px;
}

input[type=checkbox]{
margin-bottom: 10px;
margin-right: 10px;
}

button{
border: solid orange 1px;
padding:10px 20px ;
border-radius: 15px;
background-color: orange;
color: white;
}


button:hover{
    background-color: transparent;
    color: orange;
}

footer{
    background-color: #333;
    padding: 30px 0px;
}
footer p{
   margin-top: 20px;
   color: #888;
   text-align: center;
}
.footer nav , .social-nav{
float: left;
list-style: none;
}
.social-nav{
    float: right;
}
.footer nav li , .social-nav li{
margin-right: 10px;
    display: inline-block;
}

.footer nav li a , .social-nav li a{
color: #888;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 2px;
}
.footer nav li a :hover , .social-nav li a  :hover{
text-decoration: underline;
    color: orange;
}
.mom{
    
    text-decoration: underline;
    color: orange;
 
 font-size:  20px; ;
   
    list-style: none; 
}
.adress{
    color: black;
    font-weight: bold;
    font-size: 25px;
margin-right: 350px;
text-align: center;
}
.hat{
    background-color: white;
    border-radius: 20px;
    margin-right: 100px;
    top: 50px;
}

span{
    color: orange;
    font-weight: bold;
    font-size: 50px;
}
#contact1{
    background-color: rgb(219, 217, 217);
}
.ahm{
    background-color: white;
    border-radius: 20px;
    margin-right: 100px;
    top: 50px;
}










