*{
    margin: 0; padding: 0;
}


main{
    width: 960px;
    height:auto;
    /*border: solid  white 2px;*/
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: #3D5057;
    
} 

header{
    width: 960px;
    height: 100px;
   
}
.logo{
    margin-top: 15px;
    margin-left: 50px;
}
nav{
    width: 938px;
    height:48px;
    background-image: linear-gradient(#566A72,#2c383f);
    margin-left: 10px;
    border: solid #45555c 1px;
}
.main-nav{
    list-style: none;
}
.main-nav li{
   float: left;
}
.main-nav li a{
    display: block;
    width: 116.25px;
    height: 48px;
    border-right: solid 1px  #45555c;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    color: #6c878f;
}
.main-nav li a:hover{
    color: white;
    background-color: #3D5057;
}
.slider{
    width: 960px ;
    height: 262px;
    /*background-color: yellowgreen;*/
}
 
.services{
margin-left: 10px; margin-top: 10px;
    width: 940px ;
    height: 280px;
    background-image: linear-gradient(#4d646c,#3d5057);
}



.l-serv {
    
    width: 470px ;
    height: 280px;
    position: relative;
    float: left;
    
}
.r-serv{
   
    width:470px ;
    height: 280px;
    float: right;
    position: relative;

    

}
.l-serv h3{
    
    color: #b3dc0A;
    font-size: 20px;
    font-family: Arial;
    position: absolute;
    top: 20px; left: 20px;
}
.l-serv .may{
   color: #fff;
    top: 55px; left: 30px;
    font-family: Arial;
    position: absolute;
    font-size: 14px;
}
.l-serv .doha{
   color: #fff;
    top: 220px; left: 30px;
    font-family: Arial;
    position: absolute;
    font-size: 14px;
}
.l-serv img{
    position: absolute; top: 36px; right: 0px;
}
.r-serv h3{
    color: #b3dc0A;
    font-size: 18px; font-family: Arial, ;
    font-weight: bold;
    position: absolute;
    top: 30px; left: 20px;
}
.r-serv p{
     color: #fff;
     font-size: 14px; font-family: Arial, ;
     width: 240px;
     position: absolute;
     top: 65px; left: 30px;
}
.r-serv ul{
    color: #fff;
    font-size: 14px; font-family: Arial,;
    position: absolute; top: 160px; left: 30px;
    list-style: none;
}
.r-serv ul li{
    background-image: url(images/check.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-bottom: 7px;
    line-height: 20px;
}
.h-img{
    position: absolute; top: 15px; right: -13px;
}
.col-img{
    position: absolute; bottom: 10px; right:20px;
}
.h-separetor{
    height:2px ;
     width: 699px;
     margin: 10px auto;
     background-image: url(images/H-Separator.png); 
}
.info{
    width: 940px;
    margin-left: 10px;
    height: 200px;
    background-image: linear-gradient(#3d5057,#4d646c);
position: relative;}
.info h3{
    color: #b3dc0a;
    top: 20px; left: 30px;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    font-size: 14px;
    
}
.info p{
    color: #fff; font-size: 16px;font-family: Arial,;
    position: absolute; top: 60px; left: 30px;
}
.info img{
position: absolute; bottom: 10px;
right: 20px;}
.img{
    position: absolute;
    left: 250px;
    color: #fff;
}
footer{
    background-color: #3d5057;
    padding: 20px;
    color:white ;
    display: flex;
    justify-content: space-around;

}
footer span{
    color: yellow;
    font-weight: bold;
}
footer ul{
    list-style: none;
    display: flex;
}
footer ul li {
    border-right: solid white 1px;
    margin-right: 10px;
    padding-left: 10px;
}

footer ul li a {
   text-decoration: none;
   padding-right: 10px;
    padding-left: 10px;
    color: white;
}
footer ul li a  :hover {
   text-decoration: underline;
  
    color: #b3dc0A;
}
